# Cibles de build Maven
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Wrapper Maven (garder le wrapper maven-wrapper.jar)
!.mvn/wrapper/maven-wrapper.jar

# Wrapper Maven (exclure mvnw et mvnw.cmd du gitignore pour qu'ils soient suivis)
#mvnw et mvnw.cmd ne sont pas ignorés, donc pas listés ici

# Cibles de build Gradle et NetBeans
build/
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/.sts4-cache

# IntelliJ IDEA
/.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
/.vscode/

# Logs (fichiers .log)
/*.log

# Fichier spécifique à ignorer
test-medicalrecords.json
